/* Reset básico para limpar margens e fontes padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #5f6062;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura toda da tela */
}

section {
    background-color: #535252;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #1877f2; /* Cor azul estilo rede social */
}

button {
    width: 100%;
    padding: 12px;
    background-color: #31a96d;
    color: rgb(98, 97, 97);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #166fe5;
}

p {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 14px;
    color: #ffffff;
}

a {
    color: #1877f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}